<section id="contact">

    <h2>Contact Me</h2>

    <div class="contact-container">
        {% for social in site.data.settings.social %}
            {% include svg.html url=social.url outer-size=social.outer-size inner-size=social.inner-size bgcolor=social.bgcolor color=social.color path=social.path %}
        {% endfor %}
    </div>

    <div class="outer-container">
        <h3>Send me an email</h3>
        <div class="inner-container">
            <div class="form-item name">
                <label>Your name</label>
                <input type="text" name="name">
            </div>
            <div class="form-item email">
                <label>Your email</label>
                <input type="text" name="name">
            </div>
            <div class="form-item subject">
                <label>Subject</label>
                <input type="text" name="name">
            </div>
            <div class="form-item body">
                <label>Body</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-item checkbox">
                <label><input type="checkbox" /> Sign up for my newsletter</label>
            </div>
            <div class="form-item send">
                <button>Send</button>
            </div>
        </div>
    </div>

</section>
