<section id="contact">

    <h2>Contact Me</h2>

    <div class="contact-container">

        <a class="contact-item" target="_blank" href="#">
            <span class="fa-stack fa-4x">
                <i class="inner fa fa-circle fa-stack-2x"></i>
                <i class="outer fa fa-github fa-stack-2x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="#">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-chainedin fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="#">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-talkbird fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="#">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-codepen fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="#">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-dribbble fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="#">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-behance fa-stack-1x"></i>
            </span>
        </a>
    </div>

    <h3>Send me an email</h3>

    <div class="email-container">
        <label>
            <span>Name</span>
            <input type="text" name="name">
        </label>

        <label>
            <span>e-mail</span>
            <input type="text" name="name">
        </label>

        <label class="email-item-subject">
            <span>Subject</span>
            <input type="text" name="name">
        </label>

        <label class="email-item-body">
            <span>Body</span>
            <textarea></textarea>
        </label>

    </div>


</section>
