<section id="contact">

    <h2>Contact Me</h2>

    <div class="contact-container">

        <a class="contact-item" target="_blank" href="https://github.com/gordon2012">
            <span class="fa-stack fa-4x">
                <i class="inner fa fa-circle fa-stack-2x"></i>
                <i class="outer fa fa-github fa-stack-2x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="https://www.linkedin.com/in/gordon-doskas-30a39990
">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-chainedin fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="https://twitter.com/gordondoskas">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-talkbird fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="http://codepen.io/gordon2012/">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-codepen fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="https://dribbble.com/gordondoskas">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-dribbble fa-stack-1x"></i>
            </span>
        </a>

        <a class="contact-item" target="_blank" href="https://www.behance.net/g_doskasa617">
            <span class="fa-stack fa-4x">
                <i class="outer fa fa-circle fa-stack-2x"></i>
                <i class="inner fa fa-behance fa-stack-1x"></i>
            </span>
        </a>
    </div>


    <div class="outer-container">
        <h3>Send me an email</h3>
        <div class="inner-container">
            <div class="form-item name">
                <label>Your name</label>
                <input type="text" name="name">
            </div>
            <div class="form-item email">
                <label>Your email</label>
                <input type="text" name="name">
            </div>
            <div class="form-item subject">
                <label>Subject</label>
                <input type="text" name="name">
            </div>
            <div class="form-item body">
                <label>Body</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-item checkbox">
                <label><input type="checkbox" /> Sign up for my newsletter</label>
            </div>
            <div class="form-item send">
                <button>Send</button>
            </div>
        </div>
    </div>

    <div class="icon-lg icon-gh"></div>


</section>
