<section id="work">
    <h2>My Work</h2>

        <div class="work-thumb">
            {% for project in site.data.settings.projects %}
                <div class="work-item" data-work="{{ forloop.index }}">
                    <div class="work-item-front" style="background-image: url(assets/img/work/{{ forloop.index }}.png)"></div>
                    <div class="work-item-back"><span>{{ project.name }}</span></div>
                </div>
            {% endfor %}
        </div>

        <div class="work-popup-container">
            {% for project in site.data.settings.projects %}
                {% capture i %}{{ forloop.index }}{% endcapture %}
                <div class="work-popup work-popup-{{ i }}">

                    <div class="work-popup-return">
                        <div class="work-popup-return-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                <path d="M1 16l15 15v-9h16v-12h-16v-9z">
                                </path>
                            </svg>
                        </div>
                    </div>


                    <h3>{{ project.name }}</h3>
                    <img src="assets/img/work/{{ i }}.png" alt="">
                    <p>{{ project.description }}</p>

                    {% capture path_test %}assets/img/work/{{ i }}/{% endcapture %}

                    {% for image in site.static_files %}
                        {% assign path = image.path | remove_first: '/' %}

                        {% if path contains path_test %}
                            <img src="{{ path }}">
                        {% endif %}
                    {% endfor %}

                    <a href="http://{{ project.site }}" target="_blank">{{ project.site }}</a>
                    <br>
                    <a href="https://{{ project.github }}" target="_blank">{{ project.github }}</a>

                </div>
            {% endfor %}
        </div>
</section>
