<section id="work">
    <h2>My Work</h2>

        <div class="work-thumb">
            {% for project in site.data.settings.projects %}
                <div class="work-item" data-work="{{ forloop.index }}">
                    <div class="work-item-front" style="background-image: url(assets/img/work/{{ forloop.index }}.png)"></div>
                    <div class="work-item-back"><span>{{ project.name }}</span></div>
                </div>
            {% endfor %}
        </div>

        <label class="work-popup-return" 
            <span class="fa-stack fa-4x">
                <i class="inner fa fa-circle fa-stack-2x"></i>
                <i class="outer fa fa-github fa-stack-2x"></i>
            </span>
        </label>

        <div class="work-popup-container">
            <button class="work-popup-return">Back</button>
            {% for project in site.data.settings.projects %}
                <div class="work-popup work-popup-{{ forloop.index }}">

                    {% include work/project.html name=project.name description=project.description index=forloop.index %}

                </div>
            {% endfor %}
        </div>

</section>
