.fa-chainedin:before
    content: "\f0e1"

.fa-talkbird:before
    content: "\f099"

section#contact

    .contact-container
        display: flex
        flex-flow: row wrap
        justify-content: space-around

        .contact-item
            flex: 1 50%
            
            span
                display: block
                margin: auto

                .outer
                    color: $accentDark

                .inner
                    color: $contrastColor

    @media all and (min-width: 600px)
        .contact-container
            .contact-item
                flex-basis: 33.33%

    @media all and (min-width: 900px)
        .contact-container
            .contact-item
                flex-basis: 0
    
    .outer-container
        border: 1px solid black
        max-width: 700px
        margin: auto
        margin-top: 32px

        h3
            padding: 16px

        .inner-container 
            padding: 4px

            display: flex
            flex-flow: row wrap

            .form-item
                padding: 16px
                flex: 1 100%
            
            .checkbox
                flex: 1 0 auto !important
        
            .send
                flex: 0 1 auto !important      
                    
            input[type=text], textarea
                width: 100%
            
            textarea
                resize: vertical

            @media all and (min-width: 500px)
                .name, .email
                    border: 1px solid blue
                    flex-basis: 0