footer
    background-image: url(../img/blue-sky-trees.jpg)

    background-repeat: no-repeat
    background-size: cover

    height: 300px

    color: $contrastColor


    display: flex
    
    
    .brand
        border: 1px solid red

        flex: 1 25%

    .nav
        border: 1px solid blue

        flex: 1 75%
        

    nav
        // flex: 1 33%

        a
            color: $contrastColor

    span
        // flex: 1 33%


    