footer
    background-image: url(../img/blue-sky-trees.jpg)
    background-repeat: no-repeat
    background-size: cover
    
    .top
        display: flex
        align-items: center
    
        .brand
            //
            // border: 1px solid red

            padding: 16px

            flex: 1 1 50%

            span
                color: $accentDark
                background: white
                padding: 8px
                
                font-size: 2em

                border-radius: 50%

        .nav
            //
            // border: 1px solid cyan

            flex: 1 0 50%
        
            nav
                display: flex
                justify-content: space-around
        
    .bottom
        //
        // border: 1px solid yellow

        display: flex
        justify-content: center

        span
            //
            // border: 1px solid lime

            margin-bottom: 24px

            color: $contrastColor
        

    