section#work
    .work-container
        max-width: 1000px
        margin: auto

        display: flex
        flex-flow: row wrap

        div
            height: 200px

            flex: 1 100%

            background-repeat: no-repeat
            background-size: cover

    @media all and (min-width: 480px)
        .work-container
            div
                flex-basis: 50%
        
    @media all and (min-width: 760px)
        .work-container
            div
                flex-basis: 33.33%
                