---
---
<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <title>Gordon Doskas</title>
    
    <link rel="stylesheet" href="assets/css/all.css">
  </head>

  <body>
    {% include header.html %}
    
    {% include about.html %}
    {% include work.html %}
    {% include contact.html %}
    
    {% include footer.html %}

    <script src="assets/js/jquery.min.js" ></script>
    <script src="assets/js/script.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>

</html>
